<html>
  <body>
    <h2>Read the following sentence, paying particular attention to the two <span class="subject_text">highlighted</span> <span class="object_text">concepts</span>:</h2>

    {{formatted_sentence}}

    <ul>
      <li>{{subject_text}} is a {{subject_type}}.</li>
      <li>{{object_text}} is a {{object_type}}.</li>
    </ul>

    <!-- broad relationship selection  -->

    <cml:radios name="correlation_type" validates="required"
      label="The sentence explicitly states that:">
      <cml:radio value="positive"
        label="{{subject_text}} is definitely related to {{object_text}}."/>
      <cml:radio value="negative"
        label="{{subject_text}} is definitely &lt;strong&gt;not&lt;/strong&gt; related to {{object_text}}."/>
      <cml:radio value="speculative"
        label="{{subject_text}} is &lt;strong&gt;possibly&lt;/strong&gt; related to {{object_text}}."/>
      <cml:radio value="false"
        label="The sentence makes &lt;strong&gt;no claim&lt;/strong&gt; about whether {{subject_text}} and {{object_text}} are related."/>
    </cml:radios>


    <!-- deeper semantics -->
    <cml:group only-if="correlation_type:[positive]||correlation_type:[speculative]">
      <!-- drug/disease -->
      {% if subject_type == "disease" and object_type == "drug" %}
        <cml:radios name="drug_disease_semantics" validates="required"
          label="{{object_text}} and {{subject_text}} are related because:">
          <cml:radio value="may_cause"
            label="{{object_text}} may cause {{subject_text}} (e.g., as an uninteded side effect)"/>
          <cml:radio value="used_to_treat"
            label="{{object_text}} is used to treat {{subject_text}} (in people, cells, or animals)"/>

          <cml:radio value="no_further_info"
            label="No information other than that {{object_text}} and {{subject_text}} are related is given in the sentence."/>
          <cml:radio value="other"
            label="There is extra information about the relationship between {{object_text}} and {{subject_text}} that is not given as a choice here."/>
        </cml:radios>
        <cml:text only-if="drug_disease_semantics:[other]" name="drug_disease_extra"
          label="The extra information is: (optional)"/>
      {% endif %}

      <!-- gene/disease -->
      {% if subject_type == "gene or protein" and object_type == "disease" %}
        <cml:radios name="gene_disease_semantics" validates="required"
          label="The sentence states that {{subject_text}} and {{object_text}} are related because:">
          <cml:radio value="increased_expression_in"
            label="The amount (&quot;expression&quot;) of {{subject_text}} is increased in {{object_text}}."/>
          <cml:radio value="decreased_expression_in"
            label="The amount (&quot;expression&quot;) of {{subject_text}} is decreased in {{object_text}}."/>
          <cml:radio value="mutated_in"
            label="{{subject_text}} is mutated (e.g., insertion, deletion, duplication, gain-of-function, loss-of-function, hypomorphic, etc) in {{object_text}}."/>

          <cml:radio value="no_further_info"
            label="No information other than that {{subject_text}} and {{object_text}} are related is given in the sentence."/>
          <cml:radio value="other"
            label="There is extra information about the relationship between {{subject_text}} and {{object_text}} that is not given as a choice here."/>
        </cml:radios>
        <cml:text only-if="gene_disease_semantics:[other]" name="gene_disease_extra"
          label="The extra information is: (optional)"/>
      {% endif %}

      {% if subject_type == "gene variant" and object_type == "disease" %}
        <!-- variant/disease -->
        <cml:radios name="variant_disease_semantics" validates="required"
          label="The sentence states that {{subject_text}} and {{object_text}} are related because:">
          <cml:radio value="increases_risk_for"
            label="{{subject_text}} increases the risk for {{object_text}} (in humans, animals, or cells)"/>
          <cml:radio value="decreases_risk_for"
            label="{{subject_text}} decreases the risk for {{object_text}} (in humans, animals, or cells)"/>

          <cml:radio value="no_further_info"
            label="No information other than that {{subject_text}} and {{object_text}} are related is given in the sentence."/>
          <cml:radio value="other"
            label="There is extra information about the relationship between {{subject_text}} and {{object_text}} that is not given as a choice here."/>
       </cml:radios>
       <cml:text only-if="variant_disease_semantics:[other]" name="variant_disease_extra"
        label="The extra information is: (optional)"/>
      {% endif %}

      {% if subject_type == "gene or protein" and object_type == "drug" %}
        <!-- gene/drug -->
        <cml:radios name="gene_drug_semantics" validates="required"
          label="The sentence states that {{subject_text}} and {{object_text}} are related because:">
          <cml:radio value="activation"
            label="{{object_text}} activates (e.g., increases expression, is an &quot;agonist&quot; of, etc) {{subject_text}}"/>
          <cml:radio value="inhibition"
            label="{{object_text}} inhibits (e.g., decreased expression, is an &quot;antagonist&quot; of, etc) {{subject_text}}"/>
          <cml:radio value="altered_localization"
            label="{{object_text}} changes the location (localization) of {{subject_text}}."/>

          <cml:radio value="no_further_info"
            label="No information other than that {{object_text}} and {{subject_text}} are related is given in the sentence."/>
          <cml:radio value="other"
            label="There is extra information about the relationship between {{object_text}} and {{subject_text}} that is not given as a choice here."/>
        </cml:radios>
        <cml:text only-if="gene_drug_semantics:[other]" name="gene_drug_extra"
          label="The extra information is: (optional)"/>
      {% endif %}

      {% if subject_type == "gene variant" and object_type == "drug" %}
        <!-- variant/drug -->
        <cml:radios name="variant_drug_semantics" validates="required"
          label="The sentence states that {{subject_text}} and {{object_text}} are related because:">
          <cml:radio value="increased_sensitivity"
            label="{{subject_text}} increases the sensitivity to the effects of {{object_text}}"/>
          <cml:radio value="decreased_sensitivity"
            label="{{subject_text}} decreases the sensitivity to the effects of {{object_text}}"/>

          <cml:radio value="no_further_info"
            label="No information other than that {{subject_text}} and {{object_text}} are related is given in the sentence."/>
          <cml:radio value="other"
            label="There is extra information about the relationship between {{subject_text}} and {{object_text}} that is not given as a choice here."/>
        </cml:radios>
        <cml:text only-if="variant_drug_semantics:[other]" name="variant_drug_extra"
          label="The extra information is: (optional)"/>
      {% endif %}

    </cml:group>

    <cml:textarea label="Comments? Concerns? Instructions too long? Let us know!"/>


  </body>
</html>
